name: Build and Push Docker Image

on:
  push:
    branches:
      - main
  # You can add additional triggers here, such as pull requests

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Build .NET application
      run: dotnet build --configuration Release simplecs/simplecs.csproj

    - name: Publish .NET application
      run: dotnet publish --configuration Release simplecs/simplecs.csproj -o ./published


    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build Docker image
      run: docker build -t aindi123/simplecs:1.0.RELEASE -f simplecs/Dockerfile .

    - name: Log in to DockerHub
      run: docker login -u aindi123 -p dckr_pat_AhNdDxGeIDVyDVvyXsHYkmVp3fw

    - name: Push Docker image
      run: docker push aindi123/simplecs:1.0.RELEASE
